body {
    background-image: url('');
    color: rgb(0, 0, 0);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
}

div {
    font-family: verdana;
    font-size: 30px;
}

body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 30px;
}

li {
    font-family: verdana;
    font-size: 20px;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;

    position: absolute;
    left: 1200px;
    top: 300px
}

ul {
    float: left;
    font-size: 50px;
    list-style-position: inside;
}