/*Zet het lettertype op Arial, Helvetica, sans-serif
Geef links een style: maak de standaard link status van een anchor oranje (orange), bezochte links maak je groen en verwijder bij een hover over een link de underline
Geeft het eerste element een font-size van 150% en maak de kleur rood
Zorg ervoor dat de rijen in de tabel om en om gekleurd worden. Gebruik voor de donkere achtergrond kleur: #333 en als voorgrondkleur: wit. */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

a:link {
    color: rgb(94, 255, 0);
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

p:first-child {
    color: red;
}

table tr:nth-child(odd) {
    background-color: #333;
    color: white;
}

table tr:nth-child(even) {
    background-color: white;
    color: black;
}

