body {
    background-color: rgb(0, 0, 0);
    color: white
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body p {
    font-family: verdana;
    font-size: 30px;
}

.terug {
    position: absolute;
    left: 0px;
    top: 0px;
}

div {
    font-family: verdana;
    font-size: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 30px;
    text-align: center;
}