body p {
    font-family: verdana;
    font-size: 20px;
}

font img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ding {
    position: flex;
    bottom: 700px;
    font-size: 30px
}

.terug {
    position: absolute;
    left: 0px;
    top: 0px;
}

body {
    background-color: rgb(0, 0, 0);
    color: white
}

.img2 {
    width: 1000px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
}

div {
    text-align: center;
    font-size: 20px;
}

ul {
    font-size: 30px;
    list-style-position: inside;
}